.basket {
  right: 104px;
  position: absolute;
  background-color: var(--blue500);

  @media (max-width: 530px) {
    right: 10px;
  }

  &__showroom {
    cursor: pointer;
    width: 129px;
    height: 76.64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-shop-icon {
    width: 24px;
    height: 24px;
    color: white;
  }

  &-text {
    margin-left: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;

    color: #ffffff;
  }

  &__content {
    position: relative;
    opacity: 0;
    pointer-events: none;

    .basket__list {
      transition: 1s top;
      border: 8px solid var(--blue300);
      border-radius: 2px;
      right: 0;
      top: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      z-index: 2;
    }
  }

  &.active {
    .basket__content {
      opacity: 1;
      pointer-events: unset;

      .basket__list {
        top: 49px;
      }
    }
  }

  &-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 22px;
    width: 236px;
  }

  &-button__container {
    display: flex;
    justify-content: flex-end;
    background-color: white;

    .basket-button {
      border-radius: 2px;
      width: 92px;
      height: 51.1px;
      margin: 24px;
      border: 2px solid var(--blue300);
    }
  }
}
