.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  &-left-button__container {
    margin-right: 20px;
  }

  &-right-button__container {
    margin-left: 20px;
  }

  .pagination-left,
  .pagination-right {
    &-button {
      width: 60px;
      &__container {
        display: flex;
        cursor: pointer;
        font-size: 14px;
        align-items: center;
        color: var(--grayscale500);
        &:hover {
          color: var(--blue300);
        }
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
      &:hover {
        color: var(--blue300);
      }
    }
  }
  &-item {
    width: 32px;
    height: 24px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    color: var(--grayscale500);

    &.active {
      color: white;
      background-color: var(--blue300);
      &:hover {
        color: var(--gray200);
        background-color: var(--blue500);
      }
    }

    &:hover {
      color: var(--blue300);
    }
  }

  @media (max-width: 768px) {
    &-item {
      width: 16px;
      height: 12px;
      font-size: 10px;
    }

    .pagination-left,
    .pagination-right {
      &-button {
        width: 30px;
        font-size: 12px;
      }
      &-icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}
