.pagination {
  display: flex;
  align-items: center;

  .pagination-left,
  .pagination-right {
    &-button {
      width: 60px;
      &__container {
        display: flex;
        cursor: pointer;
        align-items: center;
        &:hover {
          color: var(--blue300);
        }
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
      &:hover {
        color: var(--blue300);
      }
    }
  }
}
