@import '../../styles/variable.scss';

.header {
  height: 76.64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue300);

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    max-width: $maxWidthLimit;
    min-width: $maxWidthLimit;

    @media (max-width: 1200px) {
      max-width: $lgWidthLimit;
      min-width: $lgWidthLimit;
    }

    @media (max-width: 768px) {
      max-width: $mdWidthLimit;
      min-width: $mdWidthLimit;
    }

    @media (max-width: 530px) {
      max-width: unset;
      min-width: 100%;

      justify-content: flex-start;
      padding-left: 20px;
    }
  }
}
